* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 1, 440px;
    height: 1, 024px;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 18px;
}

.link-header {
    width: 87px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: 400px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;

}

.button-header {
    background: #6FBF44;
    border: 1px solid #4CB538;
    width: 124px;
    height: 51px;
    opacity: 1px;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: white
}


main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    margin:163px 0 0 123px;
    width: 595.18px;
    height: 500px;
    display: block;
    margin: 0 auto 30px;
    max-width: 100%;

}


section {
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
}

section p {
    font-weight: 400px;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    padding: 12px 24px;
    border-radius: 6px;
    border: 2px;
    background: transparent;
    cursor: pointer;
}

.button-main {
    width: 124px;
    height: 51px;
    opacity: 1px;
    top: 32px;
    left: 420px;

}

.titulo {
    font: 42px;
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    Width: 582px;
    Height: 164px;
    Top: 342px;
    Left: 890px;
    color: #161A49;
    ;

}




.button-header {
    background: #6FBF44;
    border: 1px solid #4CB538;
    width: 124px;
    height: 51px;
    opacity: 1px;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
}

.button-main {
    background-color: transparent;
    color: #4CB538;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 20px;
    border-width: 0;
    width: 112px;
    height: 27px;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 1px;



}

